#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 15px;
  z-index: 1;
}
@keyframes fadeInLeft {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color:white;
  background-color: #92a4be;
  padding: 15px;
  border-radius: 25px;
  font-weight: 300;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInRight 0.5s linear;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.8;
  font-size: 13px;
  display:block;
  margin-bottom: 8px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 14px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 10px;
}
.message__time {
  opacity: 0.7;
  font-size: 90%;
}
.message-row--own {
  justify-content: flex-end;
  opacity:0;
  animation: fadeInLeft 0.5s linear forwards;
  animation-delay: 0.9s;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 10px;
  margin-right: 0px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 30px;
  width: 100%;
  border: var(--border-underline);
  border-radius: 20px;
  padding-left: 10px;
  transition: all .3s ease-in-out;
}
.reply .reply__column:last-child > i,
.reply .reply__column:last-child  button {
  position: absolute;
  right: -2px;
  bottom: 5px;
}

.reply .reply__column:last-child > i {
  right: 40px;
  bottom: 9px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply i {
  opacity: 0.5;
}
.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}