.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
