.user-components {
  justify-content: space-between;
}

.user-components,
.user-components__column:first-child {
  display: flex;
  align-items: center;
}
.user-components__photo {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-components__title {
  font-weight: 600;
  font-size: 22px;
}

.user-components__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__photo--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-components__photo--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.user-components__title--not-bold {
  font-weight: 400;
}

.user-components__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-components__time {
  display: block;
  padding-bottom: 10px;
}

.user-components__subtitle span {
  margin-left: 4px;
  text-align: center;
  font-weight: 600;
  color: red;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 0.3px solid red;
  border-radius: 8px;
}
